
.menu-bar{
  width: 60px;
  background: $color-background-dark;
  display: flex;
  flex-direction: column;

  ul {
    flex: 1;
  }

  .menu-item {
    text-align: center;
  }

  .menu-item a {
    display: block;
    opacity: 0.6;
    line-height: 1;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;

    &:hover {
      opacity: 1;
    }

    &.router-link-active {
      font-weight: 600;
      opacity: 1;
    }
  }

  .menu-item img {
    height: 40px;
    padding: 5px;
    display: block;
    margin: 10px auto 5px;
  }

  .settings-menu {
    padding-bottom: 1.5rem;
  }
}