
.menu-bar{
  width: 60px;
  background: $color-background-dark;
  display: flex;
  flex-direction: column;

  ul {
    flex: 1;
  }

  .menu-item {
    text-align: center;
  }

  .menu-item a {
    opacity: 1;
    line-height: 1;
    text-transform: uppercase;
    font-size: 70%;
    letter-spacing: 1px;
    color: white;
    text-decoration: none;

    &:hover {
      opacity: 0.8;
    }
  }

  .menu-item img {
    height: 40px;
    padding: 10px 5px 0;
    display: block;
    margin: 0 auto;
  }

  .settings-menu {
    padding-bottom: 1.5rem;
  }
}